body {
    background-color: rgba(242, 255, 68, 0.01);
    font-family: verdana, sans-serif;
    padding: 20px 20px 30px 25px;
    margin: 15px 15px 25px 25px;
    box-shadow: 5px 5px 20px gray;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    text-decoration: underline;
    letter-spacing: 1px;
}

p {
    color: #232323;
}

.underline {
    text-decoration: underline;
}

.center {
    text-align: center;
}

span {
    color: blue;
    text-decoration: underline;
}

span:hover {
    cursor: pointer;
}


